@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	// background-color: black;
	// color: white;
	// p {
	// 	color: white;
	// }
	font-family: 'Poppins';
	font-size: 15px;
}

.wrapper {
	display: flex;
	flex-direction: column;
}
